<html lang="de-DE">
<head>
    <title>Document</title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="section -header">
        <div class="section-left">
            <img class="section-icon" src="not-found" alt="{{ basicsName }}">
        </div>
        <div class="section-right">
            <p class="title -xl">{{ basicsName }}</p>
            <address class="address -header">
                <span>{{ basicsLocationAddress }}</span><br>
                <span>{{ basicsLocationPostalCode }} {{ basicsLocationCity }}</span><br>
                <a href="mailto:{{ basicsEmail }}">{{ basicsEmail }}</a><br>
                <a href="tel:{{ basicsPhone|replace({' ': ''}) }}">{{ basicsPhone }}</a>
            </address>
        </div>
    </div>
    <div class="section -overview">
        <h2 class="title -l">{{ labelOverview }}</h2>
        <table class="table -overview">
            <tr class="table-row">
                <td class="table-cell -min-small"></td>
                <td class="table-cell -full">
                    <h2 class="title -l">{{ basicsLabel }}</h2>
                    <p class="subtitle">{{ basicsSummary }}</p>
                </td>
            </tr>
            {% for overviewItem in basicsOverview %}
                {{ block('rowOverviewItem', 'template-row-overview-item.html.twig') }}
            {% endfor %}
            {% if basicsProfiles %}
                {% for profile in basicsProfiles %}
                    {{ block('rowOverviewNetworkProfile', 'template-row-overview-network-profile.html.twig') }}
                {% endfor %}
            {% endif %}
        </table>
    </div>

    {% if projects %}
        <div class="section -projects">
            <h2 class="title -l">{{ labelProjects }}</h2>

            <div id="latestProjects" class="project">
                {% for project in projects|slice(0, 1) %}
                    {{ block('tableProject', 'template-table-project.html.twig') }}
                {% endfor %}
            </div>

            {% for project in projects|slice(1) %}
                {{ block('tableProject', 'template-table-project.html.twig') }}
            {% endfor %}
        </div>
    {% endif %}

    {% if educations %}
        <div class="section -certs">
            <h2 class="title -l">{{ labelEducation }}</h2>

            <div id="latestCert" class="cert">
                {% for education in educations|slice(0, 1) %}
                    {{ block('tableCert', 'template-table-cert.html.twig') }}
                {% endfor %}
            </div>

            {% for education in educations|slice(1) %}
                {{ block('tableCert', 'template-table-cert.html.twig') }}
            {% endfor %}
        </div>
    {% endif %}


    {% if languages %}
        <div class="section -languages">
            <h2 class="title -l">{{ labelLanguages }}</h2>

            <table class="table -languages">
                <thead>
                <tr class="table-row">
                    <th class="table-cell -min-small"></th>
                    <th class="table-cell">
                        <p class="title -m">{{ labelLanguage }}</p>
                    </th>
                    <th class="table-cell">
                        <p class="title -m">{{ labelExperienceInYears }}</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for language in languages %}
                    {{ block('rowLanguage', 'template-row-language.html.twig') }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if skills %}
        {% for skill in skills %}
            {{ block('sectionSkill', 'template-section-skill.html.twig') }}
        {% endfor %}
    {% endif %}

</div>
</body>
</html>
