<html lang="de-DE">
<head>
    <title>Document</title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        html {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-size: 62.5%;
            font-family: "Poppins", Helvetica, Arial, sans-serif;
            color: #212121;
            line-height: 1;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 1.4rem;
        }

        span {
            font-size: 1.2rem;
        }

        address {
            margin: 0;
            font-size: 1.2rem;
            font-style: normal;
        }

        a {
            color: #212121;
        }

        p {
            margin: 0 0 10px 0;
            padding: 0;
            font-size: 1.2rem;
        }

        body {
            border: 25px #ffcc33 solid;
            padding: 40px;
            margin: 0;
        }

        .container {
            margin: 40px;
        }

        .section {
            width: 100%;
            margin-bottom: 40px;
            page-break-inside: avoid;
        }

        .section.-header {
            display: block;
            position: relative;
        }

        .section.-header > div {
            float: left;
            display: block;
        }

        .section.-header:after {
            content: "";
            display: table;
            clear: both;
        }

        .section-left {
            width: 40%;
        }

        .section-right {
            width: 60%;
            text-align: right;
        }

        .section-icon {
            max-width: 115px;
            width: 100%;
            height: auto;
            object-fit: contain;
            margin-top: -5px;
            margin-left: -25px;
        }

        .title {
            font-weight: 800;
            font-size: 2rem;
            margin-bottom: 0;
            margin-top: 0;
        }

        .title.-xl {
            font-size: 2.6rem;
            font-weight: 700;
        }

        .title.-m {
            font-size: 1.4rem;
        }

        .title.-l {
            font-size: 1.6rem;
        }

        .text {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .subtitle {
            font-weight: 500;
        }

        .table {
            margin-top: 20px;
            border-collapse: collapse;
        }

        .table-row {
            width: 100%;
        }

        .table thead th {
            border-bottom: 3px solid #212121;
        }

        .table thead th:first-child {
            border-bottom: none;
        }

        .table.-languages .table-cell:nth-child(3) {
            width: 210px;
        }

        .table-cell {
            min-width: 90px;
            text-align: left;
        }

        .table-cell.-min-small {
            width: 90px;
        }

        .table-cell.-left-space {
            padding-left: 50px;
        }

        .table-cell.-full {
            width: 100%;
        }

        .table.-languages .table-cell.-full,
        .table.-skills .table-cell.-full {
            width: 280px;
        }

        .table-cell .text.-xl {
            font-size: 1.8rem;
            font-weight: 900;
        }

        .cert {
            background: #eee;
            padding: 5px 10px 10px;
            margin-top: 10px;
            border-radius: 5px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="section -header">
        <div class="section-left">
            <img class="section-icon"
                 src="/home/vagrant/spielwiese/resume-exporter/resources/pdf-templates/images/marc-eichenseher-m.png"
                 alt="{{ basicsName }}">
            <!--            <img class="section-icon" src="images/marc-eichenseher-m.png" alt="Marc Eichenseher">-->
        </div>
        <div class="section-right">
            <p class="title -xl">{{ basicsName }}</p>
            <address class="address -header">
                <span>{{ basicsLocationAddress }}</span><br>
                <span>{{ basicsLocationPostalCode }} {{ basicsLocationCity }}</span><br>
                <a href="mailto:{{ basicsEmail }}">{{ basicsEmail }}</a><br>
                <a href="tel:{{ basicsPhone|replace({' ': ''}) }}">{{ basicsPhone }}</a>
            </address>
        </div>
    </div>
    <div class="section -overview">
        <h2 class="title -l">{{ labelOverview }}</h2>
        <table class="table -overview">
            <tr class="table-row">
                <td class="table-cell -min-small"></td>
                <td class="table-cell -full">
                    <h2 class="title -l">{{ basicsLabel }}</h2>
                    <p class="subtitle">{{ basicsSummary }}</p>
                </td>
            </tr>
            {% for overviewItem in basicsOverview %}
                {{ block('rowOverviewItem', 'template-row-overview-item.html.twig') }}
            {% endfor %}
            {% if basicsProfiles %}
                {% for profile in basicsProfiles %}
                    {{ block('rowOverviewNetworkProfile', 'template-row-overview-network-profile.html.twig') }}
                {% endfor %}
            {% endif %}
        </table>
    </div>

    {% if projects %}
        <div class="section -projects">
            <h2 class="title -l">{{ labelProjects }}</h2>

            <div id="latestProjects" class="project">
                {% for project in projects|slice(0, 1) %}
                    {{ block('tableProject', 'template-table-project.html.twig') }}
                {% endfor %}
            </div>

            {% for project in projects|slice(1) %}
                {{ block('tableProject', 'template-table-project.html.twig') }}
            {% endfor %}
        </div>
    {% endif %}

    {% if educations %}
        <div class="section -certs">
            <h2 class="title -l">{{ labelEducation }}</h2>

            <div id="latestCert" class="cert">
                {% for education in educations|slice(0, 1) %}
                    {{ block('tableCert', 'template-table-cert.html.twig') }}
                {% endfor %}
            </div>

            {% for education in educations|slice(1) %}
                {{ block('tableCert', 'template-table-cert.html.twig') }}
            {% endfor %}
        </div>
    {% endif %}


    {% if languages %}
        <div class="section -languages">
            <h2 class="title -l">{{ labelLanguages }}</h2>

            <table class="table -languages">
                <thead>
                <tr class="table-row">
                    <th class="table-cell -min-small"></th>
                    <th class="table-cell">
                        <p class="title -m">{{ labelLanguage }}</p>
                    </th>
                    <th class="table-cell">
                        <p class="title -m">{{ labelExperienceInYears }}</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for language in languages %}
                    {{ block('rowLanguage', 'template-row-language.html.twig') }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if skills %}
        {% for skill in skills %}
            {{ block('sectionSkill', 'template-section-skill.html.twig') }}
        {% endfor %}
    {% endif %}

</div>
</body>
</html>
